*{
    margin:10px;
    padding:10px;
    box-sizing: border-box;
    max-width:1200px;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
    .header{
        background: #000;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: #7469B6;
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
        }
            .logo{
                background: #AD88C6;
                flex: 1 1 auto;
                height: 30px;
            }
            .nav{
                background: #AD88C6;
                flex: 5 1 auto;
                height: 30px;
            }
            .social{
                background: #AD88C6;
                flex: 1 1 auto;
                height: 30px;
            }
        .texto-principal{
            background: #E1AFD1;
        }
            h1{
                background: #FFE6E6;
            }
    .section{
        background: #000;
        display: flex;
    }
        .articulos{
            background: #CDE8E5;
            flex:2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .article{
                background: #EEF7FF;
                flex:1 1 40%;
            }
            .navegacion{
                background: #f3f7fb;
                flex:1 1 100%;
            }
        .aside{
            background: #4D869C;
            flex:1 1 auto;
        }
            .publicidad{
                background: #7AB2B2;
            }
    .footer{
        background: #000;
        display: flex;
        justify-content: center;
    }
        .pie{
            background: #EEF7FF;
            height: auto;
            width: 95%;

        }

@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .publicidad{
       flex-direction: column;
    }
    .logo{
        width: 95%;
    }
    .nav{
        width: 95%;
    }
    .social{
        width: 95%;
    }
}

@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}
@media all and (max-width: 400px) {
    .aside{
        flex-direction: column;
    }
}